#text {
  color: rgb(4, 79, 114);
  border: 5px solid #000000;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 15px;
  font-family: 'Courier New';
}

#text.mouse_in {
  color: rgb(0, 174, 255);
  border: 5px solid #4b4b50;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 15px;
  background-color: rgb(4, 79, 114);
  font-family: 'Courier New';
}